<!DOCTYPE html>
<html>

    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-82394846-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-82394846-3');
        </script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Галерея - Свадебный фотограф Надежда Гутей</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    </head>

    <body>

        <header>

        </header>

        <main>
            <h1>Галерея</h1>
            <section class="galleries">
                <div class="gallery">
                    <a href="/galleries/Иван и Виктория LoveStory">
                        <img class="thumbnail" src="/static/galleries/Иван и Виктория LoveStory/Одесса2019-2.jpg?h=480">
                        <h2>Иван и Виктория LoveStory</h2>
                    </a>
                </div>
                <div class="gallery">
                    <a href="/galleries/Настя и Саша свадьба">
                        <img class="thumbnail" src="/static/galleries/Настя и Саша свадьба/Саша_и_Настя_Гостерия_20.jpg?h=480">
                        <h2>Настя и Саша свадьба</h2>
                    </a>
                </div>
                <div class="gallery">
                    <a href="/galleries/Свидание на крыше">
                        <img class="thumbnail" src="/static/galleries/Свидание на крыше/DSC_2228.jpg?h=480">
                        <h2>Свидание на крыше</h2>
                    </a>
                </div>
            </section>
        </main>

        <footer>
            <span class="copyright">&copy; Надежда Гутей 2019</span>
        </footer>

    </body>
</html>