<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Свадебный фотограф Надежда Гутей</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/tiny-slider.css">
        <script src="/static/js/min/tiny-slider.js"></script>
    </head>

    <body>

        <header>
            <h1>СВАДЕБНЫЙ ФОТОГРАФ</h1>
            <nav>
                <a href="#about">обо мне</a>
                <a href="/gallery/">работы</a>
            </nav>
        </header>

        <main>
            <section class="slider">
                <div class="tns">
                    <div class="gallery-slide">
                        <img src="/static/gallery/Иван и Виктория LoveStory/Одесса2019-2.jpg">
                    </div>
                    <div class="gallery-slide">
                        <img src="/static/gallery/Настя и Саша свадьба/Саша_и_Настя_Гостерия_20.jpg">
                    </div>
                    <div class="gallery-slide">
                        <img src="/static/gallery/Свидание на крыше/DSC_2228.jpg">
                    </div>
                </div>
                <a href="/gallery/">Все работы</a>
            </section>
            <section id="about" class="about_me">
                <h2>Обо мне</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </section>
            <!-- <section class="instagram"></section> -->
            <section class="how_i_work">
                <h2>Как я работаю</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </section>
            <section class="contacts">
                <a href="https://t.me/hutei_photo">telegram</a>
            </section>
        </main>

        <footer></footer>

        <script>
            var slider = tns({
                container: '.tns',
                mode: 'gallery',
                controls: false,
                nav: false,
                autoplay: true,
                autoplayTimeout: 2000,
                autoplayButtonOutput: false,
                arrowKeys: true,
                mouseDrag: true
            });
        </script>

    </body>
</html>